<html>

<head>
    <title>Traffic Review</title>
    <link href="//cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css" rel="stylesheet" type="text/css">

    <script src="//cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->

</head>

<body>
    <H2>Fatality comparison</H2>
    <small>For a detailed project path:<a href="https://github.com/MarvinKweyu/Traffic-Analysis">MarvinKweyu:Traffic analysis </a></small>

    <form action="/">
        <select name="item_for_compare">

            {% for feature in the_items_for_compare %}
            {% if feature == current_comparison %}
            <option selected value="{{ feature }}">{{ feature }}</option>
            {% else %}
            <option value="{{ feature }}">{{ feature }}</option>
            {% endif %}
            {% endfor %}

        </select>
        <input type="submit">
    </form>
    <!-- using safe tells that the code you are passing is safe to render within a browser -->
    <p>Some graph</p>
    {{ script|safe }}
    {{ div|safe }}

</body>

</html>